#hero {
  height: 200px;
  background: lightblue;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

#photo {
  position: absolute;
  top: 50px;
  left: 150px;
}
#photo img {
  height: 200px;
  width: 200px;
}

#heading {
  color: black;
  position: absolute;
  left: 400px;
  top: 50px;
}

#heading #name {
  padding: 0;
}

#heading #topics {
}

#content {
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 250px;
}

.section h1 {
  margin-top: 60px;
  margin-bottom: 5px;
  margin-left: -2px;
  font-weight: 500;
}

.section .part {
  margin-bottom: 30px;
  font-size: 20px;
}

.section.one-line .part {
  margin: 5px 0;
}

.section.one-line .part .definition::after {
  content: ':';
}
.section.one-line .part .value {
  margin-left: 5px;
}

.section.one-line .part {
  display: flex;
}

.section.more-lines .part {
  display: block;
}

.section.more-lines.research .part {
  display: inline-block;
  margin-bottom: 50px;
}

.section.more-lines .section .part .value {
  margin-top: -5px;
}

.section.more-lines .part .link {
  display: block;
}
.part .link a {
  color: mediumseagreen;
}

.section.more-lines .part .image {
  width: 50%;
  max-width: 400px;
  float: left;
  margin-right: 20px;
}

.section.more-lines .part .image img {
  width: 100%;
}

.definition {
  font-weight: 600;
  display: inline-block;
}
