$COLOR_PRIMARY: #2876cd;
$COLOR_SECONDARY: #289fcd;
$COLOR_WHITE: #FBFBFF;
$COLOR_TEXT_DARK: black;
$COLOR_TEXT_LIGHT: #757575;
$family-primary: ubuntu;

@import "./../node_modules/bulma/bulma.sass";
