@import "_variables";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/_all.sass";

#app {
  .tabs {
    position: sticky;
    margin-bottom: 0;
    top: 0;
    z-index: 100;
    .tab {
      a {
        border-width: 0px 2px 1px 2px;
        border-color: $white;
        font-weight: bolder;
        border-radius: 0;
        color: white;
        background-color: $grey;
      }
      &.is-active a {
        background-color: $primary;
      }
    }
  }
}
.app-content {
  .title {
  }

  .section {
    padding: 2em 1em 0em 1em;
    .section-content {
      .item {
        margin-left: 2em;
        margin-bottom: 1em;
        .icon {
          display: inline-block;
          font-size: 1em;
          margin-left: -1.5em;
          vertical-align: middle;
        }
        .text-time {
          color: $primary;
        }
        .text-label {
          font-weight: bolder;
          display: inline-block;
        }
        .examples {
          display: block;
          .example {
            display: inline;
          }
        }
        .link {
          color: $primary;
          &.link1 {
          }
          &.link2 {
          }
        }
        .text {
          &.text1 {
          }
          &.text2 {
          }
        }
      }
    }
  }
}

.hero {
  .hero-foot {
    .tabs {
      ul {
        li {
          a {
            border-radius: 0;
          }
        }
      }
    }
  }
}
