@import "_variables";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/_all.sass";

#app {
  .tabs {
    position: sticky;
    margin-bottom: 0;
    top: 0;
    z-index: 100;
    .tab:first-of-type a {
      border-left: 0px;
    }
    .tab:last-of-type a {
      border-right: 0px;
    }
    .tab {
      a {
        border-width: 0px 2px 0px 2px;
        border-color: $white;
        font-weight: bolder;
        border-radius: 0;
        color: white;
        background-color: $grey;

        .tab-part {
          display: inline;
          &.tab-icon {
            margin-right: 0.5em;
            font-size: 1em;
            margin-top: 0.1em;
          }
          &.tab-title {
          }
        }
      }
      &.is-active a {
        background-color: $primary;
      }
    }
  }

  .app-content {
    margin-bottom: 30em;
    .title {
    }

    .section {
      padding: 3em 1em 0em 1em;

      .section-content {
        .item-project {
          .card-image {
            .image {
              img {
                display: flex;
                height: 200px;
                width: auto;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          .card-content {
            padding: 1rem;
            font-size: 0.8em;
            .text {
              margin-bottom: 0.5em;
            }

            .tag {
              margin: 0.1rem;
              color: white;
              border: 1px solid white;
              border-radius: 6px;
              font-size: 0.8em;
              font-weight: bold;
            }

            .statuses {
              position: absolute;
              top: 0.5em;
              right: 0.5em;
              text-align: end;
            }
            .outputs {
              position: absolute;
              top: 2.5em;
              right: 0.5em;
              text-align: end;
            }

            .text-label {
              font-size: 1.2em;
              font-weight: bold;
            }

            .text-time {
              color: $primary;
            }
          }
          .card-footer {
            padding: 0.5em;
            .buttons {
              width: 100%;
              text-align: end;
              .button {
                a {
                  span {
                    display: inline-block;
                    color: $link;
                    font-size: 0.9em;
                    vertical-align: middle;
                    &.icon {
                      margin-top: 0.2rem;
                    }
                  }
                }
              }
            }
          }
        }
        .item {
          margin-left: 2em;
          margin-bottom: 1em;
          .icon {
            display: inline-block;
            font-size: 1em;
            margin-left: -1.5em;
            vertical-align: middle;
          }
          .text-time {
            color: $primary;
          }
          .text-label {
            font-weight: bolder;
            display: inline-block;
          }
          .examples {
            display: block;
            .example {
              display: inline;
            }
          }
          .link {
            color: $primary;
            &.link1 {
            }
            &.link2 {
            }
          }
          .text {
            &.text1 {
            }
            &.text2 {
            }
          }
        }
      }
    }
  }

  .hero {
    .hero-foot {
      .tabs {
        ul {
          li {
            a {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
