@import "_variables";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/_all.sass";

#app {
  .hero {
    background-image: url("./pictures/hero.png");
    background-position-x: right;
    background-repeat: repeat-y;
    background-size: contain;
    background-color: $primary;
    background-position-y: bottom;

    .column {
      padding: 2em;
    }
    .avatar {
      img {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }
  .content-section#Contact {
    .text-label {
      font-weight: bolder;
      display: inline-block;
    }
    .text {
      margin-left: 0.5em;
      display: inline-block;
    }
  }
  .tabs {
    position: sticky;
    margin-bottom: 0;
    top: 0;
    z-index: 100;
    .tab:first-of-type a {
      border-left: 0px;
    }
    .tab:last-of-type a {
      border-right: 0px;
    }
    @media only screen and (min-width: 1000px) {
      .tab {
        a {
          padding: 0.5em 1em;
          .tab-part {
            font-size: 1em;
          }
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .tab {
        a {
          padding: 0.4em 0.8em;
          .tab-part {
            font-size: 0.8em;
          }
        }
      }
    }
    @media only screen and (max-width: 700px) {
      .tab {
        a {
          padding: 0.3em 1em;
          .tab-title {
            display: none;
          }
        }
      }
    }
    .tab {
      a {
        border-width: 0px 2px 0px 2px;
        border-color: $white;
        font-weight: bolder;
        border-radius: 0;
        color: white;
        background-color: $grey;

        .tab-part {
          display: inline;
          &.tab-icon {
            margin-right: 0.5em;
            margin-top: 0.1em;
          }
        }
      }
      &.is-active a {
        background-color: $primary;
      }
    }
  }

  .app-content {
    margin-bottom: 3em;
    .title {
    }

    .section {
      padding-top: 1.5em;
      padding-bottom: 0em;

      .section-content {
        .item-project {
          .card {
            min-height: 30em;
            border: 2px solid $grey-dark;
          }
          .card-image {
            border-bottom: 2px solid $grey-dark;
            .image {
              img {
                display: flex;
                height: 15em;
                width: 100%;
                margin-left: auto;
                object-fit: cover;
                margin-right: auto;
              }
            }
          }
          .card-content {
            padding: 1rem;
            font-size: 0.8em;
            padding-bottom: 5em;
            .text {
              margin-bottom: 0.5em;
            }

            .tag {
              margin: 0.1rem;
              border: 2px solid $grey-dark;
              border-radius: 6px;
              font-size: 0.8em;
              font-weight: bold;
              box-shadow: 0px 0px 0px 2px $white;
            }

            .statuses {
              position: absolute;
              top: 0.5em;
              right: 0.5em;
              text-align: end;
            }
            .outputs {
              position: absolute;
              top: 2.5em;
              right: 0.5em;
              text-align: end;
            }

            .text-label {
              font-size: 1.2em;
              font-weight: bold;
            }

            .text-time {
              color: $primary;
            }
          }
          .card-footer {
            padding: 0.5em;
            height: 3em;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: $grey-dark;
            .buttons {
              width: 100%;
              text-align: end;
              clear: both;
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;

              .button {
                a {
                  span {
                    display: inline-block;
                    color: white;
                    font-size: 0.9em;
                    vertical-align: middle;
                    &.icon {
                      margin-top: 0.2rem;
                    }
                  }
                }
              }
            }
          }
        }
        .item {
          margin-left: 2em;
          margin-bottom: 0.5em;
          .icon {
            display: inline-block;
            font-size: 1em;
            margin-left: -1.5em;
            vertical-align: middle;
          }
          .text-time {
            color: $primary;
          }
          .text-label {
            font-weight: bolder;
            display: inline-block;
          }
          .examples {
            display: block;
            .example {
              display: inline;
            }
          }
          .link {
            color: $primary;
            &.link1 {
            }
            &.link2 {
            }
          }
          .text {
            &.text1 {
            }
            &.text2 {
            }
          }
        }
      }
    }
  }

  .hero {
    .hero-foot {
      .tabs {
        ul {
          li {
            a {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
